#tooltip
{
    text-align: center;
    color: #fff;
    background: #337ab7;
    position: absolute;
    z-index: 100;
    padding: 15px;
}

    #tooltip:after /* triangle decoration */
    {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #337ab7;
        content: '';
        position: absolute;
        left: 50%;
        bottom: -10px;
        margin-left: -10px;
    }

        #tooltip.top:after
        {
            border-top-color: transparent;
            border-bottom: 10px solid #337ab7;
            top: -20px;
            bottom: auto;
        }

        #tooltip.left:after
        {
            left: 10px;
            margin: 0;
        }

        #tooltip.right:after
        {
            right: 10px;
            left: auto;
            margin: 0;
        }
.tracking_tooltip {
    display: inline-table;
    vertical-align: middle;
}
.tracking_tooltip div {
    display: table-cell;
    vertical-align: middle;
}
.tracking_tooltip i {
    padding: 0 0.2em;
}
.o_form_buttons_view, .o_form_buttons_edit {
    display: inline-block;
    vertical-align: middle;
}
.o_cp_left .o_cp_buttons {
    width: 85% !important;
}
.track-change {
    color:#f0ad4e !important;
}
.track-change.current-changeset {
    color: #5bc0de !important;
}
.track-change.icon {
    vertical-align: middle;
    padding-left: 1em;
    font-size: 13px;
    position: absolute;
    padding-top: 0.2em;
}
.o_field_many2manytags .track-change.icon,
.o_field_many2many .track-change.icon {
    position: relative;
    padding-top: 0;
}
.o_form_sheet.new-record {
    border: 2px solid #5bc0de !important;
}
